<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{auth-layout}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
  </head>

  <body>
    <section layout:fragment="auth">
      <div
        class="page-wrapper"
        id="main-wrapper"
        data-layout="vertical"
        data-navbarbg="skin6"
        data-sidebartype="full"
        data-sidebar-position="fixed"
        data-header-position="fixed"
      >
        <div
          class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center"
        >
          <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
              <div class="col-md-8 col-lg-6 col-xxl-3">
                <div class="card mb-0">
                  <div class="card-body">
                    <!-- <a
                      href="#"
                      class="text-nowrap logo-img text-center d-block py-3 w-100"
                    >
                      <img
                        src="../HRM/src/assets/images/logos/HRM_Text.png"
                        alt=""
                        style="width: 150px; transform: translateX(5%)"
                      /> -->
                    </a>
                    <h5 class="text-center mb-3">Sign Up</h5>
                    <form
                      th:action="@{/register/save}"
                      method="post"
                      th:object="${user}"
                    >
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control border border-info"
                          placeholder="Username"
                          name="username"
                          th:field="*{username}"
                        />
                        <label>
                          <i class="ti ti-user me-2 fs-4 text-info"></i>
                          <span class="border-start border-info ps-3"
                            >Username</span
                          >
                        </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="password"
                          class="form-control border border-info"
                          placeholder="Password"
                          name="password"
                          th:field="*{password}"
                        />
                        <label>
                          <i class="ti ti-lock me-2 fs-4 text-info"></i>
                          <span class="border-start border-info ps-3"
                            >Password</span
                          >
                        </label>
                      </div>

                      <div class="form-floating mb-3">
                        <input
                          type="email"
                          class="form-control border border-info"
                          placeholder="Email"
                          name="Email"
                          th:field="*{email}"
                        />
                        <label>
                          <i class="bi bi-envelope me-2 fs-4 text-info"></i>
                          <span class="border-start border-info ps-3"
                            >Email</span
                          >
                        </label>
                      </div>

                      <div class="form-actions center">
                        <div class="d-grid gap-2 mb-3">
                          <button
                            type="submit"
                            class="btn btn-info text-center"
                          >
                            <i class="ti ti-send me-2 fs-4"></i>
                            Sign Up
                          </button>
                        </div>
                      </div>
                      <div class="mb-2">
                        <p class="text-muted">
                          Have an account?,
                          <a
                            th:href="@{/login}"
                            for="sf2"
                            class="h6 link-offset-2 text-info"
                            >Log in now</a
                          >
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
